.link{
  font-size: 18px !important;
  color: #17bf9e !important;
  text-decoration: none;
  cursor: pointer;
}

.btn{
  border: none !important;
}
.card{
  transition: 0.4s;
  overflow: hidden;
}
.card img:hover {
  transform: scale(1.1);
}
@media screen and (max-width:991px) {
  
  .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .card{
    width: 22rem !important;
    margin: 20px auto !important;
    
  }
  .course__top{
    flex-direction: column;
    gap: 20px;
  }
}
